body {
    background-color: hotpink;
    cursor: url('Arm.png') 16 16, auto;
}

#words {
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 40px;
    margin-top: 250px;
}